<section class="main-container">
  <h2>Mon profil</h2>

  <div class="user-table-container">
    <table class="user-table">
      <thead>
        <tr>
          <th>Id</th>
          <th>Nom</th>
          <th>Email</th>
          <th>Roles</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>{{ currentUser.userId }}</td>
          <td>{{ currentUser.userName }}</td>
          <td>{{ currentUser.userEmail }}</td>
          <td>{{ currentUser.roles }}</td>
        </tr>
      </tbody>
    </table>
  </div>
</section>
