<div *ngIf="isLoading" class="loading">Chargement des produits...</div>

<div *ngIf="errorMessage" class="error">{{ errorMessage }}</div>
<br />
<div class="component-box">
  <ul *ngIf="!isLoading && !errorMessage">
    <li *ngFor="let product of products">
      <h3>{{ product.name }}</h3>
      <p>Prix : {{ product.price }} €</p>
      <p>{{ product.description }}</p>
      <p>Categorie : {{ product.categoryName }}</p>
      <a [routerLink]="['/product', product.id]">Voir Détails</a>
    </li>
  </ul>
</div>
