<app-loader></app-loader>

<div class="resetpasswordRequest">
  <div class="signin-box">
    <h2 translate>Reset password Request</h2>
    <form [formGroup]="resetPasswordRequestForm" (ngSubmit)="onSubmit()">
      <div class="input-field">
        <input type="email" formControlName="email" />
        <label>Email :</label>
        <p *ngIf="hasError('email', 'required')">L'email est requis.</p>
        <p *ngIf="hasError('email', 'email')">Format d'email invalide.</p>
      </div>

      <button type="submit">Valider</button>
    </form>
  </div>
  <div class="signin-box">
    <a (click)="login($event)" href="#">{{ 'Retour à la page de connection' | translate }}</a>
  </div>
</div>
