<mat-toolbar>
  <div>
    <button mat-icon-button aria-label="" [matMenuTriggerFor]="menu">
      <mat-icon>menu</mat-icon>
    </button>

    <mat-menu #menu="matMenu">
      <button mat-menu-item *ngIf="currentUser" [routerLink]="['/profile']">
        <mat-icon>account_circle</mat-icon>
        <span translate>Profile</span>
      </button>

      <button mat-menu-item routerLink="/logout">
        <mat-icon>logout</mat-icon>
        <span translate>Logout</span>
      </button>
    </mat-menu>

    <span>My App</span>
  </div>

  <div>
    <app-language-selector></app-language-selector>
  </div>
</mat-toolbar>
